/*bacground picture to pahe1*/
#page1{
    background: url("book.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #3388CC;
    text-align: center;
    font-family: "Lobster",serif;
}
/*error message*/
#error{
    background-color: #E20415;
    width: 50%;
    margin: 20px auto;
    font-size: 125%;
}
/*the read word*/
#result{
    font-size: 48px;
    background-color: rgba(255,255,255,.8);
    padding: 3px 0;
}
/*hide slide number input*/
.full-width-slider input{
    display: none !important;
}
.full-width-slider .ui-slider-track{
    margin-left: 15px;
}
